#root {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;  
}

h2 {
  width: 100%;
  background-color: teal;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 24px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  gap: 1rem;  
}

.addtodo {
  display: flex;  
  align-items: stretch;
  gap: 1rem;
  border: 2px solid teal;
  border-radius: 30px;
  padding: 0.5rem 2rem;
}

.addtodo input {
  flex-grow: 1;
  accent-color: teal;
  padding-left: 10px;
}

input[type="checkbox"] {
  accent-color: teal;
}